# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.aux
*.bbl
*.blg
*.log
*.gz
*.tex
*.bib
*.dvi
*.gif
*.toc
*.vrb
*.nav
*.bcf
*.xml
*.snm

# Manim
*.py
*.mp4
*.txt
*.sty
*.pyc

#Others
*.jpeg
*.png

# End of https://mrkandreev.name/snippets/gitignore-generator/#Fortran