annotated-types==0.7.0
av==13.0.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloup==3.0.5
decorator==5.1.1
glcontext==3.0.0
idna==3.10
isosurfaces==0.1.2
Jinja2==3.1.4
lxml==5.3.0
manim==0.18.1
manim-slides==5.1.7
ManimPango==0.6.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
moderngl==5.11.1
moderngl-window==2.4.6
multipledispatch==1.0.0
networkx==3.3
numpy==1.26.4
packaging==24.1
pillow==10.4.0
pycairo==1.27.0
pydantic==2.9.2
pydantic-extra-types==2.9.0
pydantic_core==2.23.4
pydub==0.25.1
pyglet==2.0.17
Pygments==2.18.0
pyrr==0.10.3
python-pptx==1.0.2
QtPy==2.4.1
requests==2.32.3
rich==13.8.1
rtoml==0.11.0
scipy==1.14.1
screeninfo==0.8.1
setuptools==75.1.0
skia-pathops==0.8.0.post1
srt==3.5.3
svgelements==1.9.6
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==5.0.2
wheel==0.44.0
XlsxWriter==3.2.0
